Repository ironcore-dev/gardener-extension-provider-ironcore, pull requests merged in 2025-01, with the labels that each got.

#675 Bump gardener to v1.1.05.3
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  hack/cherry-pick-pull.sh
  pkg/controller/bastion/suite_test.go
  pkg/controller/worker/suite_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: enhancement, controllers, size/L

#686 Bump `gardener` to v0.110 and `k8s.io/*` deps to v0.31
  Makefile
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/ironcore/v1alpha1/zz_generated.conversion.go
  pkg/apis/ironcore/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/ironcore/v1alpha1/zz_generated.defaults.go
  pkg/apis/ironcore/zz_generated.deepcopy.go
  pkg/controller/backupbucket/suite_test.go
  pkg/controller/backupentry/mock_backupentry.go
  pkg/controller/backupentry/suite_test.go
  pkg/controller/bastion/actuator_delete_test.go
  pkg/controller/bastion/actuator_reconcile_test.go
  pkg/controller/bastion/suite_test.go
  pkg/controller/bastion/utils.go
  pkg/controller/controlplane/suite_test.go
  pkg/controller/infrastructure/suite_test.go
  pkg/controller/worker/suite_test.go
Labels: enhancement, controllers, size/XL, apis

#673 Create default `NetworkPolicy` in infrastructure controller
  pkg/apis/ironcore/types_infrastructure.go
  pkg/apis/ironcore/v1alpha1/types_infrastructure.go
  pkg/apis/ironcore/v1alpha1/zz_generated.conversion.go
  pkg/apis/ironcore/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/ironcore/zz_generated.deepcopy.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_delete_test.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_reconcile_test.go
Labels: controllers, size/L, apis
